* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}
:root {
  --primary-color: #26beff;
  --secondary-color: #000000;
  --tertiary-color: rgb(255, 255, 255);
}
body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: absolute;
  top: 30;
  background-color: var(--secondary-color);
  z-index: 1;
  border-bottom: var(--secondary-color) 2px, solid;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 50px 50px;
  font-size: 18px;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  border: 2px solid var(--secondary-color);
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 1;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
.hero {
  /*background-image: */
  background-size: cover;
  height: 600px;
  border-top: var(--tertiary-color);
  border-bottom: var(--tertiary-color);
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.hero p {
  color: var(--primary-color);
  font-size: 38px;
  margin: 10px;
}
.hero span {
  color: #544365
}
.btn-1 {
  border: 2px solid var(--tertiary-color);
  font-size: 18px;
  background-color: var(--secondary-color);
  padding: 8px;
  color: var(--primary-color);
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
.btn-1:hover {
  color: var(--tertiary-color);
  font-weight: bold;
  transition: ease-in-out;
}
.btn-1:hover > .arrowRight {
  position: absolute;
  opacity: 0;
}
.btn-1:hover > .arrowDown {
  position: relative;
  transition: 300ms ease-in-out;
  opacity: 1;
}
.arrowRight {
  color: var(--tertiary-color);
  width: 40px;
}
.arrowDown {
  position: absolute;
  color: var(--tertiary-color);
  width: 40px;
  opacity: 0;
}
.about-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding: 36px 0 0;
  color: var(--secondary-color);
}
.bio {
  text-align: center;
}
.bio-title-border {
  border: 2px solid var(--secondary-color);
  width: 80px;
}
.profile-pic {
  height: 500px;
  width: 400px;
}
footer { 
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
 
}

.copy {
  color: var(--secondary-color);
  font-family: Brush Script MT;
  font-size: 22px;
}

.git {
  height: 40px;
  margin: 18px;
  width: 54px;
  height: 54px;
  padding: 4px;   
}

.gitCont {
  justify-content: flex-end;
}

.linkedin {
  justify-content: flex-end;
  height: 40px;
  margin: 18px;
  width: 54px;
  height: 54px;
  padding: 8px; 
}

.linkedCont {
  justify-content: flex-end;
}