* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}
@media (min-width: 767px)and (max-width: 768px) {
  /* This will target your specific screen size*/
  }
:root {
  --primary-color: #26beff;
  --secondary-color: #000000;
  --tertiary-color: rgb(255, 255, 255);
}
body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}
/*-------------------------Header----------------------------------------------------------------*/
header {
  position: relative;
  top: 40;
  background-color: var(--secondary-color);
  z-index: 1;
  border-bottom: var(--secondary-color) 2px, solid;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 60px 110px;
  font-size: 17px;
}
/*------------------------------Navigation----------------------------------------------------*/
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: absolute;
  transition: .5s ease-in-out;
  border: 2px solid var(--secondary-color);
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 1;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
/*-----------------------------------------Hero----------------------------------------------*/
.hero {
  background-image: url(../src/assets/images/background-img.jpeg);
  background-size: cover;
  height: 600px;
  border-top: var(--tertiary-color);
  border-bottom: 2px solid var(--secondary-color);
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.hero p {
  color: var(--primary-color);
  font-size: 38px;
  margin: 10px;
}
.hero span {
  color: var(--primary-color)
}
.btn-1 {
  border: 2px solid var(--tertiary-color);
  font-size: 18px;
  background-color: var(--secondary-color);
  padding: 8px;
  color: var(--primary-color);
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
.btn-1:hover {
  color: var(--tertiary-color);
  font-weight: bold;
  transition: ease-in-out;
}
.btn-1:hover > .arrowRight {
  position: absolute;
  opacity: 0;
}
.btn-1:hover > .arrowDown {
  position: relative;
  transition: 300ms ease-in-out;
  opacity: 1;
}
.arrowRight {
  color: var(--tertiary-color);
  width: 40px;
}
.arrowDown {
  position: absolute;
  color: var(--tertiary-color);
  width: 40px;
  opacity: 0;
}
/*------------------------------------------About------------------------------------------*/
.about-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding: 36px 0 0;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.profile-pic {
  height: 500px;
  width: 400px;
}
.bio-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding: 36px 0 0;
  color: #000000;
}
.bio {
  text-align: right;
  margin-left: 500px;
  margin-top: -500px;
  font-size: 30px;
}
.bio-title-border {
  border: 2px solid var(--secondary-color);
  width: 80px;
}
.about {
  background-color: var(--primary-color);
  border-bottom: #000000 solid 2px;
  text-align: right;
}
/*-------------------------------Contact--------------------------------*/
/*.Contact {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding: 36px 0 0;
  color: var(--primary-color);
}*/
form {
  padding: 40px 10px;
  display: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  border: 2px solid var(--tertiary-color);
  margin-left: 550px;
  margin-right: 600px;
  margin-top: 0px;
  margin-bottom: 50px;
}
input {
  background-color: lightgray;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  margin: 3px 0;
}
input:placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif; 
  color: var(--tertiary-color);
  font-size: 16px;  
}
.text-area {
  background-color: lightgray;
  padding: 2em;
  border-radius: 10px;
  outline: none;
  margin: 3px 0;
}
.text-area:placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif; 
  color: var(--secondary-color);
  font-size: 16px;
}
.formBtn {
  border: 2px solid var(--tertiary-color);
  font-size: 22px;
  background-color: var(--secondary-color);
  padding: 8px;
  color: var(--primary-color);
  cursor: pointer; 
  margin: 18px;   
  border-radius: 15px;
}
.formBtn:hover {
  color: var(--tertiary-color);
}
.closeRes {
  color: var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
}
/*-------------------------------------------Portfolio------------------------------------*/
.port {
  background-color: var(--secondary-color);
}
.portTitle {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  padding: 36px 0 0;
  color: var(--primary-color);
}
.portTitle-border {
  border: 2px solid var(--primary-color);
  width: 160px;
}
.card {
  text-align: center;
  padding: 0px;
  border: 2px solid black
}
.cardImg {
  height: 30vh;

}
.card-body {
  color: var(--primary-color);
  background-color: var(--secondary-color);  
}
.card-border {
  border-bottom: 3px solid var(--primary-color);
  width: 4rem;  
}
.card-btn {
  border: 1px solid var(--tertiary-color);
  font-size: 16px;
  background-color: var(--secondary-color);
  padding: 4px 10px;
  color: var(--primary-color);
  cursor: pointer;
  margin: 5px 5px;
  border-radius: 10px;
}
.card-btn:hover {
  color: var(--tertiary-color);
  font-weight: bold;
  transition: ease-in-out;
}
/*-------------------------------------------Footer---------------------------------------*/
footer { 
  display:flex;
  align-items: center;
  background-color: var(--primary-color);
  border-top: #000000 solid 2px;
}
.copy {
  color: var(--secondary-color);
  font-family: Brush Script MT;
  font-size: 22px;
}
.git {
  height: 40px;
  margin: 18px;
  width: 54px;
  height: 54px;
  padding: 4px;   
}
.gitCont {
  justify-content: flex-end;
}
.linkedin {
  justify-content: flex-end;
  height: 40px;
  margin: 18px;
  width: 54px;
  height: 54px;
  padding: 8px; 
}
.linkedCont {
  justify-content: flex-end;
}